img {
    max-width: 100%;
    height: auto;
}

.Image {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    float: left;
    
    /* margin-left: 22%; */
}

input{
    margin-left: 16%;
  margin-top: 3%;
}